:root {
  --raw-seinna: 24 74% 58%;
  --sizzling-sunrise: 51 95% 54%;
  --scarlet: 13 96% 47%;
  --black: 0 0% 0%;
  --white: 0 0% 100%;
  --bg-primary: 230 230 230;
  --bg-secondary: 255 255 255;
  --color-primary: 31 31 31;
  --color-secondary: 94 94 94;
  --card-shadow: 0, 0%, 0%;
  --input-bg: 0 0% 93%;
}

:root.dark {
  --bg-primary: 31 31 31;
  --bg-secondary: 48 48 48;
  --color-primary: 255 255 255;
  --color-secondary: 158 158 158;
  --card-shadow: 0, 0%, 0%;
  --input-bg: 0 0% 16%;
}

.unset {
  all: unset;
}

.-rotate-90-transform-3 {
  transform: rotate(90deg) translateX(-3px);
}

.rotate-90-transform-3 {
  transform: rotate(90deg) translateX(3px);
}
