@import "./global.scss";

html {
  font-size: var(--text-base); /*for using REM units*/
  scroll-behavior: smooth;
}

body {
  font: var(--font-base);
  font-weight: 400;
  color: #222;
}
